.arrowR {
  position: absolute;
  left: 20px;
  bottom: 170px;
  height: 40px;
  width: 40px;
  z-index: 1;
}
.arrowL {
  position: absolute;
  bottom: 165px;
  right: 40px;
  height: 40px;
  width: 40px;
  z-index: 1;
}
